In [11]:
# import modules

import csv
from pathlib import Path
import pandas as pd

In [3]:
# Set path to appropriate data file

csvPath = Path("budget_data.csv")

In [4]:
# Set reader to file

with open(csvPath, "r") as file:
    csvFile = csv.reader(file, delimiter = ",")
    
    headers = next(csvFile)
    
    PnL_data = []
    for x in csvFile:
        PnL_data.append(x[1])

In [5]:
# Convert str to an int

for i in range(len(PnL_data)):
    PnL_data[i] = int(PnL_data[i])

In [6]:
# Look at int converted data

print(PnL_data)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [9]:
# Find total number of months

Total_Months = len(PnL_data)

In [10]:
# Find total sum of Profit and Losses

Total_PnL = sum(PnL_data)

In [13]:
# Use reader in CSV for dataframe

PnL_Change_Data = pd.read_csv(csvPath)

In [15]:
# Create new list which finds change in profit/losses

PnL_Change_Data["PnL_Change"] = PnL_Change_Data["Profit/Losses"]-PnL_Change_Data["Profit/Losses"].shift()

In [17]:
# Show new header and data in list

PnL_Change_Data

        Date  Profit/Losses  PnL_Change
0   Jan-2010         867884         NaN
1   Feb-2010         984655    116771.0
2   Mar-2010         322013   -662642.0
3   Apr-2010         -69417   -391430.0
4   May-2010         310503    379920.0
..       ...            ...         ...
81  Oct-2016         102685   -665765.0
82  Nov-2016         795914    693229.0
83  Dec-2016          60988   -734926.0
84  Jan-2017         138230     77242.0
85  Feb-2017         671099    532869.0

[86 rows x 3 columns]

In [18]:
# Find average change in Profit/Losses

Average_Change_in_PnL = PnL_Change_Data["PnL_Change"].mean()

In [37]:
# Find max change in Profit/Losses

Max_Change_in_PnL = PnL_Change_Data["PnL_Change"].max()

In [20]:
# Find min change in Profit/Losses

Min_Change_in_PnL = PnL_Change_Data["PnL_Change"].min()

In [32]:
# Final Solutions

print("Total Months: " + str(Total_Months))
print("Total Profit: " + str(Total_PnL))
print("Average Change in PnL: " + str(Average_Change_in_PnL))
print("Biggest Change in PnL: " + str(Max_Change_in_PnL))
print("Smallest Change in PnL: " + str(Min_Change_in_PnL))

Total Months: 86
Total Profit: 38382578
Average Change in PnL: -2315.1176470588234
Biggest Change in PnL: 1926159.0
Smallest Change in PnL: -2196167.0